<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Ouvertures</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../css/general.css">
	<link rel="stylesheet" type="text/css" href="../../css/war.css">
</head>

<body>

<header th:replace="~{fragment::menu}"></header>


	<div id="block_page">
		<h1>Les défences devenus classiques</h1>

		<section class="globale">	<!-- C'est la section de OUVERTURE FRANCAISE -->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->
					<img src="../../img/francaise.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2>La défence française</h2>	<!-- Nom de le défence/ouverture -->
					<p> L'idée de cette défense est claire: le contrôle de la case d5 pour, au coup suivant, s'assurer de l'occuper avec un pion. L'occupation immédiate 1. ... d5 (défense scandinave) ne permet pas , après 2. exd5, de conserver un pion sur la case d5. C'est la recherche d'une position solide qui constitue la principale motivation des noirs dans le choix de 1. ... e6.
						Le manque d'espace sera la principale rançon que les noirs auront à payer contre cette solidité</p>
				</div>
				<aside><a href="OuvertureFrancaise">Commentaires</a></aside>
			</section>

		</section>	<!-- C'est la section de OUVERTURE FRANCAISE -->


		<section class="globale">	<!-- C'est la section de l OUVERTURE SCANDINAVE -->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->
					<img src="../../img/scandinave.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2>La défence scandinave</h2>	<!-- Nom de le défence/ouverture -->
					<p>Sans hésiter, les noirs ouvrent la zone centrale. On pourrait considérer après 2. exd5 Dxd5, leur jeu émancipé, mais leur dame sera exposée aux attaques, ce qui se traduira par la perte de quelques temps précieux</p>
				</div>
				<aside><a href="OuvertureScandinave">Commentaires</a></aside>
			</section>
		</section>		<!-- C'est la section de l OUVERTURE SCANDINAVE -->


		<section class="globale">	<!-- C'est la section de l' OUVERTURE SICILIENNE -->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->

					<img src="../../img/sicilienne.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2>La défence sicilienne</h2>	<!-- Nom de le défence/ouverture -->
					<p>	Cette ouverture représente le domaine le plus vaste et le plus analysé de la théorie des débuts de partie. Avec cette ouverture, les noirs ont une supériorité de pion au centre. Par contre, leur développement est retardé. Les blancs peuvent dans la plupart des variantes, utiliser cette circonstance pour monter une attaque contre le roi noir, tandis que les noirs cherchent leurs contre-chances à l'aile dame</p>
				</div>
				<aside><a href="OuvertureSicilienne">Commentaires</a></aside>
			</section>
		</section>		<!-- C'est la section de l' OUVERTURE SICILIENNE -->


		<section class="globale">	<!-- C'est la section de l' OUVERTURE ALEKHINE -->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->

					<img src="../../img/alekhine.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2> La défence Alékhine</h2>	<!-- Nom de le défence/ouverture -->
					<p>L'une des ouvertures les plus provocantes. Les noirs incitent les blancs à avancer leur pion en e5, estimant qu'il constituera plus une cible qu'une arme.
						Plusieurs variantes permettent aux blancs de converser durablement leur avantage d'espace en ne laissant au camp adverse que la possibilité d'une politique d'attente </p>
				</div>
				<aside><a href="OuvertureAlekhine">Commentaires</a></aside>
			</section>

		</section>		<!-- C'est la section de l' OUVERTURE ALEKHINE -->


		<section class="globale">	<!-- C'est la section de l' OUVERTURE CARO-KANN -->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->

					<img src="../../img/caro.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2>La défense caro-kann</h2>	<!-- Nom de le défence/ouverture -->
					<p>Comme dans la défense française les noirs préparent l'installation de leur pion d7 sur d5 en lui assurant le soutien de son voisin qui pourra le remplacer si les blancs l'échangent avec leur pion e4</p>
				</div>
				<aside><a href="OuvertureCaro">Commentaires</a></aside>
			</section>
		</section>		<!-- C'est la section de l' OUVERTURE CARO-KANN -->


		<section class="globale">		<!-- C'est la section de l' OUVERTURE PIRC -->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->

					<img src="../../img/pirc.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2>La défense pirc</h2>	<!-- Nom de le défence/ouverture -->
					<p>Avec cette défense, les noirs incitent leur adversaire à occuper le centre mais, plus prudemment que dans la défense Alekhine, le premier coup (1. ... d6), met un frein à l'expansion blanche.</p>
				</div>
				<aside><a href="OuverturePirc">Commentaires</a></aside>
			</section>
		</section>		<!-- C'est la section de l' OUVERTURE PIRC -->


		<section class="globale">		<!-- C'est la section de l'OUVERTURE HOLLANDAISE -->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->

					<img src="../../img/hollandaise.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2>La défense hollandaise</h2>	<!-- Nom de le défence/ouverture -->
					<p>Synonyme de jeu tranchant, cette défense est adoptée occasionnellement au top-niveau quand il faut gagner avec les noirs et, donc, éviter les ouvertures comportant des "variantes de nullité".</p>
				</div>
				<aside><a href="OuvertureHollandaise">Commentaires</a></aside>
			</section>
		</section>		<!-- C'est la section de l'OUVERTURE HOLLANDAISE -->


		<section class="globale">		<!-- C'est la section de l'OUVERTURE BOGO-INDIENNE-->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->

					<img src="../../img/bogo.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2>La défense bogo-indienne</h2> <!-- Nom de le défence/ouverture -->
					<p>Avec cet échec au roi, les noirs ne cachent pas leur intention d'échanger au moins une pièce mineure. Si la couverture 4. Cc3 ramène dans les sentiers de la Nimzovitch, les coups 4. Fd2 et 4. Cbd2 donnent des schémas plus spécifiques à cette défense.</p>
				</div>
				<aside><a href="OuvertureIndienne">Commentaires</a></aside>
			</section>
		</section>		<!-- C'est la section de l'OUVERTURE BOGO-INDIENNE-->


		<section class="globale">	<!-- C'est la section de L'OUVERTURE CATALANE -->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->

					<img src="../../img/catalane.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2>L'ouverture catalane</h2>	<!-- Nom de le défence/ouverture -->
					<p>Avec ce fianchetto précoce les blancs évitent à la fois la défense ouest-indienne et les sentiers du gambit dame</p>
				</div>
				<aside><a href="OuvertureCatalane">Commentaires</a></aside>
			</section>
		</section>		<!-- C'est la section de L'OUVERTURE CATALANE -->


		<section class="globale">	<!-- C'est la section de L'OUVERTURE ECOSSAISE -->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->

					<img src="../../img/ecossaise.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2>La partie écossaise</h2>	<!-- Nom de le défence/ouverture -->
					<p>Dans la plupart des variantes les pièces blanches se développent en effet très rapidement</p>
				</div>
				<aside><a href="OuvertureEcossaise">Commentaires</a></aside>
			</section>
		</section>		<!-- C'est la section de L'OUVERTURE ECOSSAISE -->


		<section class="globale">		<!-- C'est la section de L' OUVERTURE ESPAGNOLE-->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->

					<img src="../../img/espagnole.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2>La partie espagnole</h2>	<!-- Nom de le défence/ouverture -->
					<p>Cette ouverture n'a jamais cessé de faire l'objet d'innombrables analyses, poussées souvent au-delà du vingtième coup. C'est dire la richesse des possibilités par la sortie du fou en b5. Les blancs exercent ainsi une pression indirecte contre le pion central e5. Un grand choix de systèmes de développement s'offre aux noirs.</p>
				</div>
				<aside><a href="OuvertureEspagnole">Commentaires</a></aside>
			</section>
		</section>		<!-- C'est la section de L' OUVERTURE ESPAGNOLE-->


		<section class="globale">		<!-- C'est la section de L'OUVERTURE ITALIENNE-->
			<section class="def">
				<div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->

					<img src="../../img/italienne.PNG">
				</div>
				<div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
					<h2>La partie italienne</h2>	<!-- Nom de le défence/ouverture -->
					<p>Les deux camps développent leurs fous du roi sur les postes que les joueurs des siècles précédent considéraient comme les plus vulnérables auprès du roi, ils peuvent effectivement permettre de lancer des attaques directes si l'occasion se présente.</p>
				</div>
				<aside><a href="OuvertureItalienne">Commentaires</a></aside>
			</section>
		</section>		<!-- C'est la section de L'OUVERTURE ITALIENNE-->

	</div>
<aside id="contact" th:replace="~{fragment::contact}"></aside>
	
</body>

</html>