<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ouvertures</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/general.css">
    <link rel="stylesheet" type="text/css" href="../../css/war.css">
</head>

<body>

<header th:replace="~{fragment::menu}"></header>    <!-- Fragment du menu déroulant-->

<section class="globale">	<!-- C'est la section de l' OUVERTURE CARO-KANN -->
    <section class="def">
        <div class="zone1">	<!-- On travaille sur les blocs d'identité "zone 1". Ce sont les titres et images des articles-->

            <img src="../../img/caro.PNG">
        </div>
        <div class="para">		<!-- Création d'un sous-bloc d'identification "para", ce sont les textes des articles-->
            <h2>La défense caro-kann</h2>	<!-- Nom de le défence/ouverture -->
            <p>Comme dans la défense française les noirs préparent l'installation de leur pion d7 sur d5 en lui assurant le soutien de son voisin qui pourra le remplacer si les blancs l'échangent avec leur pion e4</p>
        </div>
    </section>
</section>		<!-- C'est la section de l' OUVERTURE CARO-KANN -->

<form class="commentaire" th:replace="~{fragment::commentaire}"></form> <!-- Fragment du formulaire de soumission d'un commentaire -->



<aside id="contact" th:replace="~{fragment::contact}"></aside>     <!-- Fragment du lien vers le formulaire pour contacter les administrateurs -->
</body>
</html>